@media screen and (max-width: 1200px) {
    .icon{
        /* gap: 20px; */
        margin-left: 65px;
    }
    .footer_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .nav_list_footer {
        flex-direction: column;
        gap: 68px;
      }
      .footer_icon {
        display: flex;
        gap: 22px;
      }
  .header_center_container {
    max-width: 940px;
    display: flex;
    gap: 2px;
    flex-direction: column;
  }
  .header_left {
    width: 100%;
    text-align: center;
  }
  .header_left p {
    font-size: 10px;
  }
  .imdb {
    max-width: 48%;
    margin: 0 auto;
    display: block;
    font-size: 10px;
  }
  .imdb b {
    margin-left: -10px;
  }
  .imdb img {
    width: 20px;
  }
  .crime {
    max-width: 48%;
    margin: 0 auto;
    display: block;
  }
  .header_right {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header_grid_button {
    display: flex;
    gap: 14px;
  }
  .header_grid_button button {
    font-weight: 400;
    font-size: 10px;
    line-height: 23px;
    color: var(--gray);
  }
  .header_grid_button :nth-child(1) {
    font-weight: 400;
    font-size: 10px;
    line-height: 1px;
  }
  .girl {
    width: 50%;
  }
  .header_right_icons {
    gap: 14px;

    margin-top: 69px;
  }
  .button1 {
    width: 111px;
    height: 20px;
  }
  .button1 i {
    margin-right: 4px;
    /* margin-left: -10px; */
  }
  .button1 button {
    text-align: start;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 3px;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    /* background-color: red; */
    padding: 4px 6px 2px;
  }
  .icon1 img {
    width: 12px;
  }
  .icon2 img {
    width: 10px;
  }
  .icon3 img {
    width: 12px;
  }
  .icon4 img {
    width: 12px;
  }
  .x {
    margin: 0 auto;
  }

  .secret_comment{
width: 100%;
height: 5vh;
  }
}

@media screen and (max-width: 970px) {
  .header_footer {
    background-color: black;
    height: 13vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 33px;
    z-index: 5;
  }
  #nav_check {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .icon {
    display: none;
  }

  .header_footer i {
    color: #8b8b8b;
    font-size: 20px;
  }

  .nav_check i {
    color: white;
  }

  .nav_list2 {
    position: absolute;
    top: -92vh;
    left: -100%;
    background-color: black;
    color: white;
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    list-style: none;
    z-index: 4;
    transition: 2s;
  }

  .nav_list2 li:hover {
    transform: 1s;
    color: #c00511;
  }

  #nav_check:checked ~ .nav_list2 {
    left: 0;
  }
  .main_start {
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
  }
 

  .main_start_left img {
    width: 29px;
    height: 29px;
  }
  .main_start_left h3 {

    font-size: 12px;
    line-height: 12px;
    color: var(--white);
    padding-left: 70px;
  }
  .main_start_left li {
    align-items: center;
    display: flex;
    gap: 24px;
    margin-top: 20px;
  }
  .main_start_left_p :nth-child(1) {
 
    font-size: 10px;
    line-height: 16px;
    color: var(--red);
    margin-bottom: 5px;
  }

  .main_start_right {
    width: 150px;
  }
  .main_start {
    display: flex;
    gap: 60px;
  }
  .main_start_right_img {
    display: flex;
    gap: 27px;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    max-width: 406px;
  }
  .main_start_right p {
    font-size: 7px;
    line-height: 19px;
    color: var(--gray2);
    margin-bottom: 30px;
  }

  .img_card :nth-child(1){
    width: 40%;
  }
  .play {
    position: absolute;
    left: 14%;
    top: 30%;
   width: 40px;
  }
  .slider_container {
  max-width: 1170px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;
  position: relative;

}
.content {
    display: flex;
    align-items: center;
    gap: 34px;
  }
  .content h2 {
   

    font-size: 22px;
    line-height: 38px;
    color: var(--white);
  }
  .content img {
    height: 3px;
  }
  
.read_more{
display: flex;

  margin-top: -35px;
  margin-left: 60px;
}
.down{
  margin-left: -70px;
  margin-top: -16px;
}
.comment_container h4 {
  margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
  
  }
  .comment_container{
   margin-left: 20px;
   margin-right: 20px;
    
  }
}
